<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div>
            <ul>
                <li><a href="/">CSN</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/">Projects</a></li>
                <li><a href="/">Contact</a></li>
                <li><a href="/visitors">Visitors</a></li>
                <li><a href="/">Blog</a></li>
            </ul>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <div class="title">
                <h1 id="hero-name">CECILIO SAMUEL NAVARRO</h1>
                <p>Software Engineer</p>
            </div>
            <div class="subtitle">
                <p>22-year-old full-stack software developer with a relentless focus on quality</p>
                <div class="social-links">
                    <a href="/files/Cecilio%20Navarro%20-%20Software%20Engineer%202025%20resume.pdf"
                        download="Cecilio Navarro - Software Engineer 2025 resume.pdf" class="button">
                        RESUMÉ
                        <img src="/images/download.svg" alt="">
                    </a>
                    <a href="https://www.linkedin.com/in/cecilio-samuel-navarro/" target="_blank">
                        <img src="/images/brand-linkedin.svg" alt="">
                    </a>
                    <a href="https://github.com/CecilioN7" target="_blank">
                        <img src="/images/brand-github.svg" alt="">
                    </a>
                    <a href="mailto:ceciliosnavarro@gmail.com" target="_blank">
                        <img src="/images/mail.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="location">
                <img src="/images/hero-profile.png" alt="Cecilio Navarro">
                <p class="based">BASED IN</p>
                <p class="california">CALIFORNIA</p>
            </div>
        </div>
    </section>
    <div class="background">
        <section class="work">
            <div class="container">
                <h1>Work</h1>
                <div class="headline">
                    <p>Full Stack Web Development</p>
                    <p>Nov 2024 - Present</p>
                </div>
                <h2>Bro Signs & Prints Inc.</h2>
                <div class="description">
                    <div class="item">
                        <p>01</p>
                        <p>Designed and developed a mobile-first website for a signs and print shop, showcasing their
                            projects and services. Utilized HTML, CSS, JavaScript, and a Node.js backend, resulting in a
                            10%
                            increase in monthly job requests.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="work">
            <div class="container">
                <h1>Education</h1>
                <div class="headline">
                    <p>B.S. in Computer Science</p>
                    <p>August 2020 - May 2024</p>
                </div>
                <h2>California State University, Bakersfield</h2>
                <div class="description">
                    <div class="item">
                        <p>01</p>
                        <p>4-time recipient of the Dean's Honor List</p>
                    </div>
                    <div class="item">
                        <p>02</p>
                        <p>Graduated Cum Laude</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="projects">
            <div class="container">
                <h1>TECHNICAL PROJECTS</h1>
                <div class="project">
                    <h2 class="number">01</h2>
                    <div class="card">
                        <img src="/images/project1.png" alt="">
                        <p class="headline">Motif</p>
                        <div class="title">
                            <h3>MIDI Piano Visualizer</h3>
                            <div class="tags">
                                <p class="tag">Swift</p>
                                <p class="year-tag">2024</p>
                            </div>
                        </div>
                        <p>A macOS application built to bring MIDI input to life through an intuitive and visually
                            engaging keyboard interface. Designed for musicians and educators, this app enhances music
                            tutorials by showcasing real-time key and pedal presses, providing a seamless learning
                            experience. Powered by robust MIDI protocols, the MIDI Piano Visualizer tracks notes with
                            precision, making it an essential tool for interactive musical instruction and creative
                            exploration.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/js/script.js" defer></script>
</body>

</html>